@charset "utf-8";
html,body {
    font-size: 16px;
    font-family: "THE Lux Go", "Noto Sans KR", "malgun Gothic", "맑은고딕", Apple SD Gothic Neo, verdana, gulim, "굴림", dotum, "돋움", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    word-break: break-word;
}
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* 공통 */
.logo{
    width:227px;
}
.main{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    animation:fadeIn .15s linear forwards;
}
.main.move{
    animation:fadeOut .075s ease-in-out forwards;
}
@keyframes fadeIn{
    from{
        opacity:0.03;
    }
    to{
        opacity:1;
    }
}
@keyframes fadeOut{
    from{
        opacity:1;
    }
    to{
        opacity:0.03;
    }
}
.tit_box{
    width:100%;
    border-bottom:1px solid #bfc4de;
}
.tit_box .tit{
    border-bottom:2px solid #303e87;
    font-size:20px;
    font-family: "Noto Sans KR", "THE Lux Go", "malgun Gothic", "맑은고딕", Apple SD Gothic Neo, verdana, gulim, "굴림", dotum, "돋움", sans-serif;
    font-weight: 500;
    display: inline-flex;
    letter-spacing: -0.3px;
    color:#303e87;
}
.inner{
    width:100%;
    max-width: 1260px;
    margin: 150px auto 170px
}



/* 헤더 */
.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    transition: background-color .3s, box-shadow .3s;
    z-index: 10;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.header.fixed{
    background-color: rgba(255,255,255,0.7);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.header .top_menu{
    display:block;
    width:100%;
    padding:8px 0;
    background-color: #2c3c93;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.header.fixed .top_menu{
    display:none;
}
.header.fixed .header_nav .gnb_box a span{
    color: #000000;
}
.header .top_menu ul{
    display:flex;
    gap:0 80px;
    justify-content: center;
}
.header .top_menu ul li a{
    font-size:16px;
    color: #ffffff;
}

/* gnb */
.header .header_nav{
    max-width:1260px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:60px 0;
}
.header .header_nav .gnb_box{
    width:100%;
    margin:0 100px;
}
.header .header_nav .gnb_box ul{
    width:100%;
    display: flex;
    justify-content: center;
    gap:0 100px;
}
.header .header_nav .gnb_box a span{
    font-size:18px;
    color: #ffffff;
}
.header .header_nav .sub_gnb_box{
    display:none;
}

/* 메인 배너 */
.main_slide_wrap{
    position: relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}
.main_slide_wrap .main_swiper_big_box{
    position: relative;
    width:100%;
    height:100%;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide .main_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide .main_video video{
    z-index: 0;
    object-fit: cover;
    width:100%;
    height:100%;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide .main_video video::-webkit-media-controls {
    display:none !important;
}

.main_slide_wrap .main_swiper_big_box .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}

.main_slide_wrap .main_swiper_big_box .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #ffffff;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* 메인 취급품목 */
.main_handling_box{
    max-width: 1260px;
    margin: 150px auto 170px;
}
.main_handling_box .handling_list{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap:8px 8px;
    justify-content: center;
    align-content: center;
    margin:25px 0 0 0;
}
.main_handling_box .handling_list li{
    width:24%;
}
.main_handling_box .handling_list li div{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding:25px 20px;
    transition: all 0.3s;
    border-radius: 10px;
    flex-direction: column;
    background-repeat: no-repeat;
}
.main_handling_box .handling_list li div:hover{
    transform: scale(1.01) translateY(-5px) rotate(0.001deg);
}
.main_handling_box .handling_list li:nth-child(1) div{
    background-image: url('../images/common/main_handling_bg_01.png');
}
.main_handling_box .handling_list li:nth-child(2) div{
    background-image: url('../images/common/main_handling_bg_02.png');
}
.main_handling_box .handling_list li:nth-child(3) div{
    background-image: url('../images/common/main_handling_bg_03.png');
}
.main_handling_box .handling_list li:nth-child(4) div{
    background-image: url('../images/common/main_handling_bg_04.png');
}
.main_handling_box .handling_list li:nth-child(5) div{
    background-image: url('../images/common/main_handling_bg_05.png');
}
.main_handling_box .handling_list li:nth-child(6) div{
    background-image: url('../images/common/main_handling_bg_06.png');
}
.main_handling_box .handling_list li:nth-child(7) div{
    background-image: url('../images/common/main_handling_bg_07.png');
}
.main_handling_box .handling_list li:nth-child(8) div{
    background-image: url('../images/common/main_handling_bg_08.png');

}
.main_handling_box .handling_list li i{
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 170px;
    height: 170px;
    background-position: center center;
}
.main_handling_box .handling_list li:nth-child(1) i{
    background-image: url('../images/icon/main_handling_icon_01.png');
}
.main_handling_box .handling_list li:nth-child(2) i{
    background-image: url('../images/icon/main_handling_icon_02.png');
}
.main_handling_box .handling_list li:nth-child(3) i{
    background-image: url('../images/icon/main_handling_icon_03.png');
}
.main_handling_box .handling_list li:nth-child(4) i{
    background-image: url('../images/icon/main_handling_icon_04.png');
}
.main_handling_box .handling_list li:nth-child(5) i{
    background-image: url('../images/icon/main_handling_icon_05.png');
}
.main_handling_box .handling_list li:nth-child(6) i{
    background-image: url('../images/icon/main_handling_icon_06.png');
}
.main_handling_box .handling_list li:nth-child(7) i{
    background-image: url('../images/icon/main_handling_icon_07.png');
}
.main_handling_box .handling_list li:nth-child(8) i{
    background-image: url('../images/icon/main_handling_icon_08.png');
}
.main_handling_box .handling_list li span{
    font-size:24px;
    color: #ffffff;
}


    /* 고객센터 영역 */
.main_customer_box{
    position: relative;
    margin:0 auto;
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:35px 0;
    padding:340px 0 240px;
}
.main_customer_box .customer_tit{
    font-size:76px;
    color: #2b3c93;
    letter-spacing: -0.3px;
}
.main_customer_box .customer_num strong{
    font-size:76px;
    font-weight: bold;
    color: #2b3c93;
    letter-spacing: -0.3px;
}
.main_customer_box .customer_time{
    display:flex;
    justify-content: center;
    width:100%;
    gap:0 25px;
}
.main_customer_box .customer_time span{
    font-size:32px;
    color: #2b3c93;
    opacity: 0.6;
    letter-spacing: -0.3px;
}
.main_customer_box .customer_time em{
    font-size:32px;
    color: #2b3c93;
    opacity: 0.6;
    letter-spacing: -0.3px;
}
.main_customer_box .customer_txt{
    font-size:24px;
    color: #2b3c93;
    opacity: 0.6;
    letter-spacing: -0.3px;
    margin:80px 0 0 0;
}

/* footer */
.footer{
    position: relative;
    width:100%;
    background-color: #2c3c93;
}
.footer_box{
    max-width: 1260px;
    margin: 0 auto;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding:120px 0;
}
.footer_add_box{
    margin:0 0 0 100px;
}
.footer_list_item{
    display:flex;
    align-items: center;
    padding:2px 0;
}
.footer_list_item li{
    padding:0 0 0 20px;
    position: relative;
}
.footer_list_item li:before{
    content: "";
    display:block;
    border-left: 1px solid #ffffff;
    width:1px;
    height:14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.footer_list_item li:first-child{
    padding:0 20px 0 0;
}
.footer_list_item li:first-child:before{
    display:none;
}
.footer_list_item li span{
    color: #ffffff;
    font-size:15px;
    letter-spacing: -0.3px;
}
.footer_list_item .branding{
    color: #ffffff;
    letter-spacing: -0.3px;
    font-weight: bold;
}
.footer_copyright{
    color: #ffffff;
    font-size:15px;
    letter-spacing: -0.3px;
}