@charset "utf-8";
html,body {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    word-break: break-word;
}
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* 공통 */
.logo{
    width:227px;
}
.main{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    animation:fadeIn .15s linear forwards;
}
.sub{
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    animation:fadeIn .15s linear forwards;
}
@keyframes fadeIn{
    from{
        opacity:0.03;
    }
    to{
        opacity:1;
    }
}
.tit_box{
    width:100%;
    border-bottom:1px solid #bfc4de;
}
.tit_box .tit{
    border-bottom:2px solid #303e87;
    font-size:20px;
    font-weight: 500;
    display: inline-flex;
    color:#303e87;
}
.inner{
    width:100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 0 170px;
}
/* 오른쪽 탑 버튼 */
.right-top{
    width:40px;
    height:40px;
    border-radius: 5px;
    position: fixed;
    right:20px;
    bottom:-100px;
    opacity: 0;
    background-color: rgba(255,255,255,0.7);
    box-shadow:2px 2px 7px rgba(0,0,0,0.07);
    transform:scale(0);
    transition:bottom .4s ease-in-out, opacity .4s ease-in-out, background-color .4s, transform .4s ease-in-out;
    z-index:1000;
}
.right-top.on{
    bottom:20px;
    opacity: 1;
    transform: scale(1);
}
.right-top .right_top_btn{
    display:block;
    width:22px;
    height:22px;
    background: url("../images/icon/right_top.svg") no-repeat 0 0;
    background-size: 22px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}



/* 헤더 */
.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    transition: background-color .3s, box-shadow .3s;
    z-index: 10;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background-color: #ffffff;
    /*background-color: rgba(255,255,255,0.7);*/
}
.header.transparent{
    background-color: rgba(0,0,0,0.2);
    transition: all 0.2s;
}
.header.transparent .header_nav .gnb_box .dep-1 a span{
    color: #ffffff;
}
.header.up{
    top:-189px;
    transition: all 0.2s;
}
.header.active.up{
    top:-409px;
}
.header .top_menu.on{
    display:block;
}
.header .top_menu{
    display:none;
    width:100%;
    padding:8px 0;
    background-color: rgba(44, 60, 147, 0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.header .top_menu ul{
    display:flex;
    gap:0 80px;
    justify-content: center;
}
.header .top_menu ul li a{
    font-size:16px;
    font-weight: 500;
    color: #000000;
    vertical-align: middle;
}
.header.transparent .top_menu ul li a{
    color: #ffffff;
}
.header .top_menu ul li a:before{
    content: "";
    margin:0 8px 0 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100% auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 0;
    filter: brightness(0);
}
.header.transparent .top_menu ul li a:before{
    filter: brightness(1);
}
.header .top_menu ul li:nth-child(1) a:before{
    background-image: url("../images/icon/top_menu_icon_01.png");
    background-position: center 1px;
}
.header .top_menu ul li:nth-child(2) a:before{
    background-image: url("../images/icon/top_menu_icon_02.png");
    background-position: center 1px;
}
.header .top_menu ul li:nth-child(3) a:before{
    background-image: url("../images/icon/top_menu_icon_03.png");
    margin-top: -2px;
}
.header .top_menu ul li:nth-child(4) a:before{
    background-image: url("../images/icon/top_menu_icon_04.png");
    margin-top: -2px;
}
.header .top_menu ul li:nth-child(5) a:before{
    background-image: url("../images/icon/top_menu_icon_05.png");
}

/* gnb */
.header:before{
    content: "";
    position: absolute;
    top:131px;
    left:0;
    width:100%;
    height:0;
    opacity: 0;
    background-color: #ffffff;
    transition: all 0.2s linear;
}
.header.active:before{
    height:220px;
    opacity: 1;
    border-top: 1px solid rgba(189,195,199,0.2);
    border-bottom: 1px solid rgba(189,195,199,0.2);
}
.header.active.header_bg:before{
    height:220px;
    top:87px;
    opacity: 1;
    border-top: 1px solid rgba(189,195,199,0.2);
    border-bottom: 1px solid rgba(189,195,199,0.2);
}
.header .header_nav{
    max-width:1260px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header .header_nav .gnb_box{
    width:100%;
    margin:0 100px;
}
.header .header_nav .gnb_box .dep-1-box{
    width:100%;
    display: flex;
    justify-content: center;
}
.header .header_nav .gnb_box .dep-1{
    height: 100%;
    width: 20%;
    position: relative;
}
.header .header_nav .gnb_box .dep-1 .main_gnb{
    height: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    position: relative;
    transition: color 0.3s;
}
.header .header_nav .gnb_box .dep-1 .main_gnb:after{
    content: "";
    position: absolute;
    bottom:0;
    left:50%;
    width:0;
    height:2px;
    transform: translateX(-50%);
    background-color: #678bd5;
}
.header .header_nav .gnb_box .dep-1 .main_gnb:hover:after{
    width:100%;
    transition: all 0.3s;
}
.header .header_nav .gnb_box .dep-1.hover .main_gnb:after{
    width:100%;
    transition: all 0.3s;
}
.header .header_nav .gnb_box .dep-1 .main_gnb:hover span{
    color: #678bd5;
    transition: color 0.3s;
}
.header .header_nav .gnb_box .dep-1.hover .main_gnb span{
    color: #678bd5;
    transition: color 0.3s;
}
.header .header_nav .gnb_box .dep-1 .main_gnb span{
    font-size:18px;
    font-weight: 600;
    color: #000000;
}
.header .header_nav .gnb_box .dep-1 .sub_gnb_box{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:101%;
    left:50%;
    transform: translate(-50%, 0);
    width:100%;
    height:0;
    /*transition: opacity 0.3s, visibility 0.3s;*/
    transition: all 0.3s;
    /*background-color: rgba(255,255,255,0.7);*/
    z-index: 1001;
}
.header.active .header_nav .gnb_box .dep-1 .sub_gnb_box{
    visibility: visible;
    opacity: 1;
    height:100%;
}
.header.active .header_nav .gnb_box .dep-1 .sub_gnb_box .dep-2{
    color: #000000;
}
.header .header_nav .gnb_box .sub_gnb_box .dep-2-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0;
}
.header .header_nav .gnb_box .sub_gnb_box .dep-2{
    padding:0 20px 10px;
    width: 100%;
    text-align: center;
}
.header .header_nav .gnb_box .sub_gnb_box .dep-2:last-child{
    padding-bottom:0;
}
.header .header_nav .gnb_box .sub_gnb_box .dep-2 a span{
    font-size:16px;
    font-weight: 600;
    color: #666666;
    transition: opacity .3s;
}
.header .header_nav .gnb_box .sub_gnb_box .dep-2 a:hover span{
    color: #678bd5;
    transition: color 0.3s;
}

/* 햄버거메뉴 */
.header.transparent .header_btn .header_lines{
    background-color: #ffffff;
}
.header.transparent .header_btn .header_lines::before,
.header.transparent .header_btn .header_lines::after{
    background-color: #ffffff;
}
.header_btn{
    flex-shrink:0;
    position:relative;
    width:30px;
    height:30px;
    overflow:hidden;
    font-size:0;
    line-height:0;
    color:transparent;
    text-indent:-99px;
    border:0;
    background-color:transparent;
}
.header_lines{
    display:block;
    position:absolute;
    top:50%;
    right:0;
    width:20px;
    height:2px;
    margin:0 auto;
    background-color:#222;
    transform:translate(0, -50%);
    transition:width .3s, visibility .3s, opacity .3s, background-color .3s;
}
.header_lines::before,
.header_lines::after{
    content:"";
    position:absolute;
    right:0;
    width:30px;
    height:2px;
    background-color:#222;
    transition:background-color .3s, transform .3s;
}
.header_lines::before{
    top:-9px;
}
.header_lines::after{
    bottom:-9px;
}
.header_quick.on .header_lines{
    background-color:transparent !important;
}
.header_quick.on .header_lines:before,
.header_quick.on .header_lines:after{
    top:100%;
    bottom:auto;
}
.header_quick.on .header_lines:before{
    transform:rotate(45deg);
}
.header_quick.on .header_lines:after{
    transform:rotate(-45deg);
}
.header_quick:hover .header_lines{
    width:100%;
}

.sub .header{
    background-color: #ffffff;
}
.sub .header .top_menu{
    display:none;
}
.sub .header .header_nav .gnb_box .dep-1 .main_gnb span{
    color: #000000;
}

/* 메인 배너 */
.main_slide_wrap{
    position: relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}
.main_slide_wrap:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    transform: translateY(-50%);
    z-index: 1;
}
.main_slide_wrap .main_swiper_big_box{
    position: relative;
    width:100%;
    height:100%;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide .main_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide .main_video video{
    z-index: 0;
    object-fit: cover;
    width:100%;
    height:100%;
}
.main_slide_wrap .main_swiper_big_box .main_swiper_slide .main_video video::-webkit-media-controls {
    display:none !important;
}
.main_slide_wrap .main_swiper_big_box .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}
.main_slide_wrap .main_swiper_big_box .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #ffffff;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.main_slide_wrap .main_swiper_big_box .main_video_txt_wrap{
    position: absolute;
    bottom: 16px;
    left: 66px;
    width: 300px;
    height: 50px;
    z-index: 11;
}

.main_slide_wrap .main_swiper_big_box .main_video_txt{
    max-width:400px;
    font-size:70px;
    color: #ffffff;
    z-index: 10;
    position: absolute;
    top:50%;
    left:28%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: introTxtFade .6s .6s forwards cubic-bezier(0.27, 0.07, 0.42, 0.96);
    background: linear-gradient(to right, #2c3c93, #d2e6f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes introTxtFade {
    0% {
        top:60%;
        opacity: 0
    }
    100% {
        top:50%;
        opacity: 1
    }
}
.main_slide_wrap .main_swiper_big_box .main_video_txt strong{
    font-size:70px;
    color: #ffffff;
    font-weight: bold;
}
.main_slide_wrap .main_swiper_big_box .main_video_logo{
    display:block;
    z-index: 10;
    position: absolute;
    bottom:0;
    left:0;
    opacity: 0;
    animation: introTxtFade2 1.6s 1.6s forwards cubic-bezier(0.27, 0.07, 0.42, 0.96);
}
@keyframes introTxtFade2 {
    0% {
        bottom:15%;
        opacity: 0
    }
    100% {
        bottom:25%;
        opacity: 1
    }
}

/* 메인 취급품목 */
.main_handling_box{
    padding:150px 0 0 0;
}
.main_handling_box .handling_list{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap:8px 8px;
    justify-content: center;
    align-content: center;
    margin:25px 0 0 0;
}
.main_handling_box .handling_list li{
    width:24%;
    position: relative;
}
.main_handling_box .handling_list li div{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding:25px 20px;
    transition: all 0.3s;
    border-radius: 20px;
    flex-direction: column;
    background-repeat: no-repeat;
}
.main_handling_box .handling_list li div:hover{
    transform: scale(1.01) translateY(-5px) rotate(0.001deg);
}
.main_handling_box .handling_list li div:hover:after{
    background-color: transparent;
}
.main_handling_box .handling_list li div:after{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.2);
    border-radius: 20px;
}
.main_handling_box .handling_list li:nth-child(1) div{
    background-image: url('../images/common/main_handling_bg_01.png');
}
.main_handling_box .handling_list li:nth-child(2) div{
    background-image: url('../images/common/main_handling_bg_02.png');
}
.main_handling_box .handling_list li:nth-child(3) div{
    background-image: url('../images/common/main_handling_bg_03.png');
}
.main_handling_box .handling_list li:nth-child(4) div{
    background-image: url('../images/common/main_handling_bg_04.png');
}
.main_handling_box .handling_list li:nth-child(5) div{
    background-image: url('../images/common/main_handling_bg_05.png');
}
.main_handling_box .handling_list li:nth-child(6) div{
    background-image: url('../images/common/main_handling_bg_06.png');
}
.main_handling_box .handling_list li:nth-child(7) div{
    background-image: url('../images/common/main_handling_bg_07.png');
}
.main_handling_box .handling_list li:nth-child(8) div{
    background-image: url('../images/common/main_handling_bg_08.png');
}
.main_handling_box .handling_list li i{
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 170px;
    height: 170px;
    background-position: center center;
}
.main_handling_box .handling_list li:nth-child(1) i{
    background-image: url('../images/icon/main_handling_icon_01.png');
}
.main_handling_box .handling_list li:nth-child(2) i{
    background-image: url('../images/icon/main_handling_icon_02.png');
}
.main_handling_box .handling_list li:nth-child(3) i{
    background-image: url('../images/icon/main_handling_icon_03.png');
}
.main_handling_box .handling_list li:nth-child(4) i{
    background-image: url('../images/icon/main_handling_icon_04.png');
}
.main_handling_box .handling_list li:nth-child(5) i{
    background-image: url('../images/icon/main_handling_icon_05.png');
}
.main_handling_box .handling_list li:nth-child(6) i{
    background-image: url('../images/icon/main_handling_icon_06.png');
}
.main_handling_box .handling_list li:nth-child(7) i{
    background-image: url('../images/icon/main_handling_icon_07.png');
}
.main_handling_box .handling_list li:nth-child(8) i{
    background-image: url('../images/icon/main_handling_icon_08.png');
}
.main_handling_box .handling_list li span{
    font-size:24px;
    color: #ffffff;
}

/* 고객센터 영역 */
.main_customer_box{
    position: relative;
    margin:0 auto;
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:35px 0;
    padding:340px 0 240px;
}
.main_customer_box .customer_tit{
    font-size:76px;
    color: #2b3c93;
}
.main_customer_box .customer_num strong{
    font-size:76px;
    font-weight: bold;
    color: #2b3c93;
}
.main_customer_box .customer_time{
    display:flex;
    justify-content: center;
    width:100%;
    gap:0 25px;
}
.main_customer_box .customer_time span{
    font-size:32px;
    color: #2b3c93;
    opacity: 0.6;
}
.main_customer_box .customer_time em{
    font-size:32px;
    color: #2b3c93;
    opacity: 0.6;
}
.main_customer_box .customer_txt{
    font-size:24px;
    color: #2b3c93;
    opacity: 0.6;
    margin:80px 0 0 0;
}

/* 지역네트워크 */
.main_network_box{
    position: relative;
}
.main_network_box .txt{
    font-size:18px;
    color:#678bd5;
    margin:15px 0 0 0;
}
.main_network_box .network_list{
    background: url("../images/common/main_network_map_bg.png") no-repeat right top;
    background-size: auto;
    padding:130px 0 130px 0;
    display:flex;
    flex-direction: column;
    gap: 35px 0;
}
.main_network_box .network_list li{
    display:flex;
}
.main_network_box .network_list a{
    display:flex;
    gap: 0 75px;
}
.main_network_box .network_list a strong{
    font-size:20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    min-width:135px;
}
.main_network_box .network_list a span{
    font-size:18px;
}

/* 공지사항 */
.main_notice_box{
    position: relative;
}
.main_notice_box .tit_box{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.main_notice_box .tit_box .more{
    font-size:14px;
    color: #ed1c24;
    font-weight: 500;
}
.main_notice_box .tit_box .more:after{
    content: ">";
    color: #ed1c24;
    margin:0 0 0 5px;
}
.main_notice_box .notice_list_wrap{
    width:100%;
    overflow: hidden;
    margin:50px 0 0 0;
}
.main_notice_box .notice_list_box .notice_list_slide .notice_list_txt_box{
    display:flex;
    justify-content: space-between;
    margin:24px 0 0 0;
}
.main_notice_box .notice_list_box .notice_list_slide .notice_list_txt_box .notice_num{
    font-size:14px;
    color: #aaaaaa;
}
.main_notice_box .notice_list_box .notice_list_slide .notice_list_txt_box .notice_tit{
    font-size:14px;
    color: #454545;
}
.main_notice_box .notice_list_box .notice_list_slide .notice_list_img{
    overflow: hidden;
    height: 187px;
    text-align: center;
    background-color: #f7f7f7;
}
.main_notice_box .notice_list_box .notice_list_slide .notice_list_img img{
    min-height: 187px;
    object-fit: cover;
    max-height: 100%;
}

/* sub */
.sub .content{
    margin:190px 0 0 0;
}
.content{
    position: relative;
    /*margin:190px 0 0 0;*/
}
.visual{
    position: relative;
    overflow: hidden;
    height:500px;
    margin:0 30px 140px;
    border-radius: 30px;
    animation: fadeInUp 1s both;
}
.visual.company:before{
    content: "";
    background: url("https://www.vitsonimg.co.kr/images/homepage/sub_visual_top_img_01.jpg")no-repeat center center;
    background-size: cover;
    animation: visualScale 8s linear alternate both;
    width:115%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.visual.brand:before{
    content: "";
    background: url("https://www.vitsonimg.co.kr/images/homepage/sub_visual_top_img_02.jpg")no-repeat center center;
    background-size: cover;
    animation: visualScale 8s linear alternate both;
    width:115%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.visual.sales:before{
    content: "";
    background: url("../images/common/sub_visual_top_img_03.jpg")no-repeat center center;
    background-size: cover;
    animation: visualScale 8s linear alternate both;
    width:115%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.visual.customer:before{
    content: "";
    background: url("https://www.vitsonimg.co.kr/images/homepage/sub_visual_top_img_04.jpg")no-repeat center center;
    background-size: cover;
    animation: visualScale 8s linear alternate both;
    width:115%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.visual .sub_title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.visual .sub_title{
    overflow: hidden;
    display:flex;
}
.visual .sub_title h2{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    color: #c1c1c1;
    z-index: 1;
}
.visual.brand .sub_title h2{
    color: #ffffff;
}
.visual.sales .sub_title h2{
    color: #ffffff;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes visualScale {
    0% {
        transform: scale(1.08) rotate(0.0001deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
.message{
    background: url("https://www.vitsonimg.co.kr/images/homepage/sub_mission_bg.png") no-repeat center top;
} 
.message_box{
    padding:100px 0 220px;
    margin:0 auto;
}
.message_box .message_logo{
    display:block;
    background: url('../images/common/sub_mission_logo.png') no-repeat center center;
    background-size: 220px auto;
    min-width:220px;
    height:210px;
    font: 0/0 a;
    margin:0 auto;
}
.message_box .message_tit{
    font-size:24px;
    color: #2c3c93;
    font-weight: bold;
    text-align: center;
    margin:60px 0 0 0;
}
.message_box .message_txt{
    font-size:18px;
    letter-spacing: -3px;
    color: #2c3c93;
    font-weight: 500;
    text-align: center;
    margin:30px auto 0;
    line-height:2;
}
.message_box .ceo{
    margin:80px auto 0;
    display:flex;
    gap: 0 15px;
    align-items: flex-end;
    justify-content: center;
}
.message_box .ceo span{
    font-size:18px;
    font-weight: 500;
    color: #2c3c93;
    margin: 0 0 2px 0;
}
.message_box .ceo em{
    font-size:28px;
    font-weight: 500;
    color: #2c3c93;
}
.mission_box{
    padding:220px 0 180px;
}
.mission_box .mission_tit{
    font-size:24px;
    font-weight: 700;
    color: #2c3c93;
    margin:0 0 35px 0;
}
.mission_box p{
    font-weight: 500;
    color: #303d87;
    opacity: 0.6;
    margin:0 0 40px 0;
}
.mission_box p + p{
    margin:0;
}
.mission_bottom{
    margin:100px 0 0 0;
}
.history{
    padding:260px 0 0;
}
.history_box{

}
.history_box ul{
    display:flex;
    flex-direction: column;
}
.history_box ul li{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}
.history_box ul li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-45%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bdc3c7;
    transition: all 0.4s ease-in-out;
}
.history_box ul li.in-view {
    transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
.history_box ul li.in-view::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-45%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2c3c93;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
.history_box ul li:nth-child(odd){
    align-content: flex-end;
}
.history_box ul li:nth-child(even){
    align-content: flex-start;
}
.history_box ul li.middle{
    align-content: center;
    align-items: center;
    text-align: center;
}
.history_box ul li.middle:before{
    top:-18%;
    background-color: #2c3c93;
}
.history_box ul li:nth-child(1){
    padding:0 0 135px 0;
}
.history_box ul li:nth-child(2){
    padding:0 0 240px 0;
}
.history_box ul li:nth-child(3){
    padding:0 0 200px 0;
}
.history_box ul li:nth-child(4){
    padding:0 0 215px 0;
}
.history_box ul li:nth-child(5){
    padding:0 0 270px 0;
}
.history_box ul li strong{
    font-size:90px;
    color: #273890;
    letter-spacing: 10px;
    line-height:1.5;
}
.history_box ul li p{
    font-size:24px;
    font-weight: 700;
    color: #2c3c93;
}
.history_box ul li .history_tit{
    display:inline-block;
    color: #fff;
    font-size:24px;
    font-weight: 700;
    background-color: #2c3c93;
    padding:5px 15px;
    margin:15px 0 0 0;
}
.history_box ul li .history_dscrp{
    font-size:18px;
    color: #303d87;
    font-weight: 500;
    margin:30px 0 0 0;
}
.history_box ul li .history_img{
    margin:50px 0 0 0;
}
.history_box .default-line {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    background: #bdc3c7;
    height: 4570px;
}
.history_box .draw-line {
    width: 2px;
    height: 0;
    position: absolute;
    left: 50%;
    background: #2c3c93;
}
.office{
    padding:260px 0 0;
}
.office .office_box{

}
.office .office_list li{
    cursor: pointer;
}
.office .office_box .office_tit{
    font-size: 38px;
    font-weight: 700;
    color: #2c3c93;
    margin: 0 0 15px 0;
}
.office .office_box .office_sub_tit{
    font-size: 20px;
    font-weight: 500;
    color: rgba(48, 61, 135, 0.6);
}
.office_list_wrap{
    position: relative;
    display:inline-flex;
    margin:50px 0;
    justify-content: center;
    width:100%;
}
.office_list_wrap .office_list_effect_box{
    width: calc(100% + 1.2rem);
    height:100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translate(0, -50%);
    z-index: -1;
}
.office_list_wrap .office_list_effect{
    border-radius: 10px;
    background-color: #303e87;
    transition: all 0.3s;
    content: "";
    position: absolute;
    top:0;
    left:var(--tabLeftPos);
    width:var(--tabWidht);
    height:100%;
    z-index: -1;
    padding:10px;
}
.office_list{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:0 20px;
}
.office_list .office_tab{
    padding:10px;
    color: #aaaaaa;
    transition: all 0.5s;
}
.office_list .office_tab.on{
    color: #ffffff;
    position: relative;
    z-index: 2;
}
.office_info_wrap{
    position: relative;
}
.office_info_wrap .office_info{
    display:none;
    opacity: 0;
    width:100%;
}
.office_info_wrap .office_info .office_info_txt_wrap{
    width:58%;
}
.office_info_wrap .office_info.on{
    display:flex;
    opacity: 1;
    transition: opacity 0.5s;
    gap: 0 70px;
}
.office_info_wrap .office_info strong{
    font-size:32px;
    color: #2c3c93;
    font-weight: 700;
}
.office_info_wrap .office_info .office_info_txt{
    font-size:22px;
    color: #222222;
    font-weight: 700;
    margin:50px 0 20px 0;
}
.office_info_wrap .office_info .office_info_area{
    font-size:20px;
    color: #666666;
}
.office_info_wrap .office_info .office_thumb{
    width: 460px;
    height: 500px;
    border-radius: 30px;
    font: 0/0 a;
}
.office_info_wrap .office_info.office_info_head .office_thumb{
    background: url("../images/common/sub_office_info_bg_01.png") no-repeat 0 0;
}
.office_info_wrap .office_info.office_info_daegu .office_thumb{
    background: url("../images/common/sub_office_info_bg_02.png") no-repeat 0 0;
}
.office_info_wrap .office_info.office_info_honam .office_thumb{
    background: url("../images/common/sub_office_info_bg_03.png") no-repeat 0 0;
}
.office_info_wrap .office_info.office_info_busan .office_thumb{
    background: url("../images/common/sub_office_info_bg_04.png?v=240419") no-repeat;
    background-size: 140% auto;
    background-position: 72% center;
    background-color: #f1f1f1;
}
.office_info_wrap .office_info.office_info_central .office_thumb{
    background: url("https://www.vitsonimg.co.kr/images/homepage/sub_office_info_bg_05.png?v=240419") no-repeat;
    background-size: 130% auto;
    background-position: 8% center;
    background-color: #f1f1f1;
}
.office_info_wrap .office_info.office_info_gangwon .office_thumb{
    background: url("../images/common/sub_office_info_bg_06.png") no-repeat 0 0;
}
.office_info_wrap .office_info.office_info_jeju .office_thumb{
    background: url("../images/common/sub_office_info_bg_07.png") no-repeat 0 0;
}
/*.office_info_wrap .office_info .map_box{*/
/*    margin:50px 0 0 0;*/
/*}*/

.map{
    position: relative;
    padding:60px 0 0;
}
.map .map_box{

}
.map .map_box h5{
    font-size: 38px;
    font-weight: 700;
    color: #2c3c93;
    margin: 0 0 35px 0;
}

.vitson{

}
.vitson .vitson_brand_logo,
.mro .mro_brand_logo,
.homevit .homevit_brand_logo{
    font: 0/0 a;
    display:block;
}
.vitson .vitson_brand_box,
.mro .mro_brand_box,
.homevit .homevit_brand_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vitson .vitson_brand_logo{
    background: url("../images/common/sub_brand_logo_01.png") no-repeat 0 0;
    min-width:200px;
    min-height:55px;
}
.mro .mro_brand_logo{
    background: url("../images/common/sub_brand_logo_02.png") no-repeat 0 0;
    min-width:280px;
    min-height:50px;
}
.homevit .homevit_brand_logo{
    background: url("../images/common/sub_brand_logo_03.png") no-repeat 0 0;
    min-width:200px;
    min-height:100px;
}
.vitson .vitson_brand_box .vitson_brand_tit,
.mro .mro_brand_box .mro_brand_tit,
.homevit .homevit_brand_box .homevit_brand_tit{
    font-size: 34px;
    color: #3c3c3c;
    font-weight: 700;
    text-align: center;
    margin:50px 0 30px 0;
}
.vitson .vitson_brand_box p,
.mro .mro_brand_box p,
.homevit .homevit_brand_box p{
    font-size:18px;
    color: #3c3c3c;
    font-weight: 500;
    text-align: center;
    line-height:1.8;
    margin:0 0 100px 0;
}
.vitson .vitson_brand_box .brand_img_list,
.mro .mro_brand_box .brand_img_list,
.homevit .homevit_brand_box .brand_img_list{
    display:flex;
    flex-wrap: wrap;
    gap: 14px 14px;
}
.vitson .vitson_brand_box .brand_img_list li i,
.mro .mro_brand_box .brand_img_list li i,
.homevit .homevit_brand_box .brand_img_list li i{
    min-width:240px;
    min-height:240px;
    display:block;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(1) i{
    background-image: url("../images/common/sub_brand_img_01_01.png?v=240416");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(2) i{
    background-image: url("../images/common/sub_brand_img_01_02.png?v=240416");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(3) i{
    background-image: url("../images/common/sub_brand_img_01_03.png");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(4) i{
    background-image: url("../images/common/sub_brand_img_01_04.png");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(5) i{
    background-image: url("../images/common/sub_brand_img_01_05.png?v=240416");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(6) i{
    background-image: url("../images/common/sub_brand_img_01_06.png");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(7) i{
    background-image: url("../images/common/sub_brand_img_01_07.png?v=240416");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(8) i{
    background-image: url("../images/common/sub_brand_img_01_08.png");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(9) i{
    background-image: url("../images/common/sub_brand_img_01_09.png");
}
.vitson .vitson_brand_box .brand_img_list li:nth-child(10) i{
    background-image: url("../images/common/sub_brand_img_01_10.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(1) i{
    background-image: url("../images/common/sub_brand_img_02_01.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(2) i{
    background-image: url("../images/common/sub_brand_img_02_02.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(3) i{
    background-image: url("../images/common/sub_brand_img_02_03.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(4) i{
    background-image: url("../images/common/sub_brand_img_02_04.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(5) i{
    background-image: url("../images/common/sub_brand_img_02_05.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(6) i{
    background-image: url("../images/common/sub_brand_img_02_06.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(7) i{
    background-image: url("../images/common/sub_brand_img_02_07.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(8) i{
    background-image: url("../images/common/sub_brand_img_02_08.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(9) i{
    background-image: url("../images/common/sub_brand_img_02_09.png");
}
.mro .mro_brand_box .brand_img_list li:nth-child(10) i{
    background-image: url("../images/common/sub_brand_img_02_10.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(1) i{
    background-image: url("../images/common/sub_brand_img_03_01.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(2) i{
    background-image: url("../images/common/sub_brand_img_03_02.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(3) i{
    background-image: url("../images/common/sub_brand_img_03_03.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(4) i{
    background-image: url("../images/common/sub_brand_img_03_04.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(5) i{
    background-image: url("../images/common/sub_brand_img_03_05.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(6) i{
    background-image: url("../images/common/sub_brand_img_03_06.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(7) i{
    background-image: url("../images/common/sub_brand_img_03_07.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(8) i{
    background-image: url("../images/common/sub_brand_img_03_08.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(9) i{
    background-image: url("../images/common/sub_brand_img_03_09.png");
}
.homevit .homevit_brand_box .brand_img_list li:nth-child(10) i{
    background-image: url("../images/common/sub_brand_img_03_10.png");
}

.sales_box .sales_tit{
    font-size: 38px;
    font-weight: 700;
    color: #2c3c93;
    margin: 0 0 15px 0;
}
.sales_accordion_wrap{
    width:100%;
    border-top:1px solid #3c3c3c;
}
.sales_accordion_wrap .sales_accordion_list{
    width:100%;
    border-bottom:1px solid #ddd;
    display:flex;
    flex-direction: column;
    padding:30px 20px;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_tit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_tit p{
    color: #2c3c93;
    font-size: 22px;
    font-weight: 700;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_tit i{

    font-size:18px;
}
.sales_accordion_wrap .sales_accordion_list.open .sales_accordion_tit i{
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_info{
    display:none;
    padding:30px 0 0 0;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_info li{
    display:flex;
    align-items: flex-start;
    gap: 0 20px;
    margin:0 0 20px 0;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_info .accordion_info_tit{
    font-size:16px;
    font-weight: 500;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 0 5px;
    min-width: 100px;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_info .accordion_info_tit i{
    color: #666666;
    font-size:18px;
}
.sales_accordion_wrap .sales_accordion_list .sales_accordion_info .accordion_info_txt{
    font-size:16px;
    color: #7c7c7d;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_list{
    display:flex;
    align-items: baseline;
    gap: 0 10px;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_01,
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_02,
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_03,
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_04{
    font-size:14px;
    color: #454545;
    padding:3px 5px;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_01{
    background-color: #d2e6f3;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_02{
    background-color: #c3f3c6;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_03{
    background-color: #f7eac2;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_tit_04{
    background-color: #d3c9f3;
}
.sales_accordion_wrap .sales_accordion_list .accordion_info_area .accordion_area_txt{
    font-size:14px;
    line-height: 2;
    color: #7c7c7d;
    padding:3px 5px;
}

.customer_service .service_box .service_tit{
    font-size: 38px;
    font-weight: 700;
    color: #2c3c93;
    margin: 0 0 15px 0;
}
.service_list_wrap{
    position: relative;
    display:inline-flex;
    margin:50px 0;
    justify-content: center;
    width:100%;
}
.service_list_wrap .service_list_effect_box{
    width: calc(100% + 1.2rem);
    height:100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translate(0, -50%);
    z-index: -1;
}
.service_list_wrap .service_list_effect{
    border-radius: 10px;
    background-color: #303e87;
    transition: all 0.3s;
    content: "";
    position: absolute;
    top:0;
    left:var(--tabLeftPos);
    width:var(--tabWidht);
    height:100%;
    z-index: -1;
    padding:10px;
}
.service_list{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:0 20px;
}
.service_list .service_tab{
    padding:10px;
    color: #aaaaaa;
    transition: all 0.5s;
    cursor: pointer;
}
.service_list .service_tab.on{
    color: #ffffff;
    position: relative;
    z-index: 2;
}
.service_info_wrap{
    position: relative;
}
.service_info_wrap .service_info{
    display:none;
    opacity: 0;
    width:100%;
}
.service_info_wrap .service_info .service_info_txt_wrap{
    width:100%;
    display: flex;
    justify-content: center;
}
.service_info_wrap .service_info.on{
    display:flex;
    opacity: 1;
    transition: opacity 0.5s;
}

.customer_board{
    width:100%;
    position: relative;
}
.board_box .board_tit{
    font-size: 38px;
    font-weight: 700;
    color: #2c3c93;
    margin: 0 0 15px 0;
}
.board_box .board_notice_wrap{
    width:100%;
    margin:0 auto;
}
.board_box .board_notice_wrap ul{
    border-top:1px solid #454545;
}
.board_box .board_notice_wrap ul li{
    padding:40px 0;
    position: relative;
}
.board_box .board_notice_wrap ul li:after{
    content: "";
    width:100%;
    border-bottom:1px solid #dddddd;
    display:block;
    position: absolute;
    bottom:0;
    left:0;
}
.board_box .board_notice_wrap ul li a{
    display:flex;
    align-items: flex-start;
    gap: 0 50px;
}
.board_box .board_notice_wrap .board_notice_img{
    max-width:400px;
    overflow: hidden;
    height: 187px;
    text-align: center;
    background-color: #f7f7f7;
    min-width: 400px;
    border-radius: 15px;
}
.board_box .board_notice_wrap .board_notice_img img{
    border-radius: 15px;
    min-height: 187px;
    object-fit: cover;
    max-height: 100%;
    transition: all 0.3s;
}
.board_box .board_notice_wrap .board_notice_box{
    margin:20px 0;
}
.board_box .board_notice_wrap .board_notice_box .board_notice_tit{
    font-size:24px;
    line-height: 2;
    color: #3c3c3c;
}
.board_box .board_notice_wrap .board_notice_box .board_notice_num{
    font-size: 14px;
    color: #7c7c7d;
    margin:20px 0 0 0;
}

.board_box .board_notice_wrap .pagination{
    width:100%;
    margin:100px auto 0;
}
.board_box .board_notice_wrap .pagination_link{
    width: 100%;
    display: flex;
    justify-content: center;
}
.board_box .board_notice_wrap .pagination_link a{
    color:#999999;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #999999;
    margin-right:5px;
}
.board_box .board_notice_wrap .pagination_link a:hover{
    color: #3c3c3c;
    border-color: #3c3c3c;
}
.board_box .board_notice_wrap .pagination_link .current,
.board_box .board_notice_wrap .pagination_link .current:hover{
    border-color: #3c3c3c;
    background-color: #3c3c3c;
    color: #ffffff;
}
.board_box .board_notice_wrap .pagination_link a.disabled{
    border-color: #aaaaaa;
    color: #aaaaaa;
}
.board_box .board_notice_wrap .pagination_link .prev i{
    transform: rotate(180deg);
}
.board_box .board_notice_wrap .pagination_link .last{
    margin:0;
}
.board_box .board_notice_view{
    width:100%;
    position: relative;
    border-top:1px solid #454545;
}
.board_box .board_notice_view .view_tit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 40px;
    border-bottom:1px solid #dddddd;
}
.board_box .board_notice_view .view_tit .view_desc{
    font-size:20px;
    color: #3c3c3c;
}
.board_box .board_notice_view .view_tit .view_data{
    font-size:16px;
    color: #7c7c7d;
}
.board_box .board_notice_view .view_conetent{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid #dddddd;
    color: #666666;
    padding:60px 40px;
    min-height:300px;
}
.board_box .board_notice_view .view_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #dddddd;
    padding:30px 0;
    margin:0 0 60px 0;
}
.board_box .board_notice_view .view_area .view_area_prev{
    font-size:16px;
    color: #666666;
}
.board_box .board_notice_view .view_area .view_area_prev a{
    vertical-align: middle;
}
.board_box .board_notice_view .view_area .view_area_prev i{
    margin:0 10px 0 0;
}
.board_box .board_notice_view .view_area .view_area_btn{
    font-size:18px;
    color: #3c3c3c;
}
.board_box .board_notice_view .view_area .view_area_btn i{
    margin:0 0 0 10px;
}
.board_box .board_notice_view .view_area .view_area_left{
    font-size:16px;
    color: #666666;
}
.board_box .board_notice_view .view_area .view_area_left a{
    vertical-align: middle;
}
.board_box .board_notice_view .view_area .view_area_left i{
    margin:0 0 0 10px;
}

/* footer */
.footer{
    position: relative;
    width:100%;
    background-color: #2c3c93;
}
.footer_box{
    max-width: 1260px;
    margin: 0 auto;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:120px 0;
}
.footer_add_box{
    margin:0 0 0 100px;
}
.footer_list_item{
    display:flex;
    align-items: center;
    padding:2px 0;
}
.footer_list_item li{
    padding:0 0 0 20px;
    position: relative;
}
.footer_list_item li:before{
    content: "";
    display:block;
    border-left: 1px solid #ffffff;
    width:1px;
    height:14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.footer_list_item li:first-child{
    padding:0 20px 0 0;
}
.footer_list_item li:first-child:before{
    display:none;
}
.footer_list_item li span{
    color: #ffffff;
    font-size:15px;
}
.footer_list_item .branding{
    color: #ffffff;
    font-weight: bold;
}
.footer_copyright{
    color: #ffffff;
    font-size:15px;
}



/* 서브 스크롤 테스트 */
.sub_left_menu {
    position: absolute;
    top: 240px;
    left: 30px;
    bottom: 0;
    z-index: 99;
}
.sub_left_menu.fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.sub_left_menu .sub_left_menu_list li {
    margin-top: 10px;
}
.sub_left_menu .sub_left_menu_list li:first-child {
    margin-top: 0;
}
.sub_left_menu .sub_left_menu_list li a {
    opacity: 0.5;
    line-height: 1;
    font-size: 15px;
    font-weight: 700;
}
.sub_left_menu .sub_left_menu_list li.on a {
    opacity: 1;
}
.sub_left_menu.white .sub_left_menu_list li a {
    color: #fff;
}

.price-tag {
    color: #222;
    font-size: 14px;
    position: relative;
}

/* pc 반응형 */
@media (max-width: 1400px) {
    .sub_left_menu.fixed{
        background-color: #ffffff;
        border-radius: 15px;
        max-height:max-content;
        box-shadow: 0px 4px 9.6px 0.4px rgba(0, 0, 0, 0.05), 0px 4px 9.6px 0.4px rgba(0, 0, 0, 0.05);
        padding:20px;
    }
}

@media (max-width: 1280px) {
    .header .header_nav{
        padding:0 2rem;
    }
    .header .header_nav .gnb_box .sub_gnb_box .dep-2 a span{
        font-size:14px;
    }
    .inner{
        padding-left:2rem;
        padding-right:2rem;
    }
    .main_handling_box .handling_list li i{
        width: 15rem;
        height: 10rem;
    }
    .main_handling_box .handling_list li span{
        font-size:20px;
    }
    .history_box ul li strong{
        font-size:70px;
    }
    .history_box ul li p{
        font-size:20px;
    }
    .history_box ul li .history_tit{
        font-size:20px;
    }
    .history_box ul li .history_dscrp{
        font-size:16px;
    }
    .history_box .default-line{
        height:4330px;
    }
    .vitson .vitson_brand_box .brand_img_list li i,
    .mro .mro_brand_box .brand_img_list li i,
    .homevit .homevit_brand_box .brand_img_list li i{
        min-width: 220px;
        min-height: 220px;
        background-size: 80% 80%;
    }
}

@media (max-width: 1024px) {

}